* {
    margin: 0;
    padding: 0;
}

body {
    font-family:  'Lato', sans-serif;
    background-color: #457B9D;
    text-align: center;
    color: #F1FAEE;

}
#header {
    background-color: #1D3557;
    padding: 20px;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 1px solid black;
}
.intro {
    font-size: 1.2em;
    color: #F1FAEE;
    padding: 20px;
}

a {
    color: #E63946;
}
#inputText {
    font-style: italic;
}

#speechContainer {
    margin: 20px;
}

#fileForm {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1em;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;
    background-color: #E63946;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #E63946;
}

.inputfile + label {
	cursor: pointer; 
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

#sumbitButton {
    background-color: #E63946;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    border: none;
    padding: 10px 30px;
    /* margin-top: 10px; */
}


#sumbitButton:hover {
    cursor: pointer;

}

#speechTranscriptContainer {
    color: black;
    width: 800px;
    margin: 0 auto;
    height: 30%;

}

#transcriptTitle {
    margin-top: 10px;
}

.center {
    font-size: 1em;
    padding: 15px;
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #A8DADC;
}
